body{
    padding: 0!important;
    margin: 0!important;
}

.home-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    max-height: 450px;
}

.django-form__pbtn{
    background-color: skyblue;
    border-radius: 6px;
    border: 2px transparent solid;
    color: white;
    transition: 0.2s;
    padding: 0.8em 1.8em;  
}

.django-form__pbtn:hover{
    background-color: white;
    border-radius: 6px;
    border: 2px skyblue solid;
    color: black;
}

.white-title{
    color:white
}