<section class="django-footer">
    <div class="django-footer__section django-footer__infos">
        <div class="django-footer__col">
            <h4>Equipe</h4>
            <ul class="django__list">
                <li class="django__item">Scikitlearn : COTTIGNY Thomas</li>
                <li class="django__item">Bokeh : CAILLAUD Antoine</li>
                <li class="django__item">Django : EMERY Alexandre</li>
            </ul>
        </div>
        <div class="django-footer__col">
            <h4>Ressources</h4>
            <ul class="django__list">
                <li class="django__item"><a href="https://docs.djangoproject.com/en/4.1/" class="django-team__item">Documentation Django</a></li>
                <li class="django__item" ><a href="https://docs.bokeh.org/en/latest/" class="django-team__item">Documentation Bokeh</a></li>
                <li class="django__item" ><a href="https://scikit-learn.org/stable/user_guide.html" class="django-team__item">Documentation Skikitlearn</a></li>
            </ul>
        </div>
        <div class="django-footer__col">
            <h4>Tutoriels</h4>
            <ul class="django__list">
                <li class="django__item"><a href="/" class="django-team__item">WIP</a></li>
            </ul>
        </div>
    </div>
    <div class="django-footer__section django-footer__copyright">
        <p>© M1 INFO - (URCA) Université de Reims Champagne Ardennes</p>
    </div>
</section>