<section class="django-form">
    <div class="django-form__section">
        <div class="django-form__brand">
            <h1><strong class="blue-title">Réduction</strong> et <strong class="blue-title">clustering</strong> de CSV en ligne</h1>
            <p>Exploitez vos CSV en ligne à l'aide des méthodes PCA et LDA</p>
        </div>
        <div class="django-form__ubtn">
            <a href="/pca_cluster/" class="django-form__pbtn">Commencez maintenant</a>
        </div>
    </div>
</section>